@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", Arial, sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.show-scrollbar {
  -ms-overflow-style: initial;  /* IE, Edge */
  scrollbar-width: initial;     /* Firefox */
}

.show-scrollbar::-webkit-scrollbar {
  display: initial;             /* Chrome, Safari */
}